.App {
  text-align: center;
}

.App-header {
  background-color: #f8faff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  background-color: rgb(43, 42, 42);
  color: white;
  font-family: 'Fanwood Text', serif;
  /* font-family: 'Copse', serif; */
}

body, html{
  height: 100%;
}

nav {
  margin: 0 auto;
  text-align: right;
  font-size: 26px;
  padding: 5px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 15px;
  color: white;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

nav a:hover {
  color: rgb(215, 7, 28);
}


.link-clean {
  color: black;
  text-decoration: none;
}

.f-vh {
  height: 95vh;
  /* position: relative; */
}

.pt-5{
  /* margin-top: 10%; */
  padding-top: 5%; 
}

.pt-20{
  padding-top: 20%;
}

.spacing{
  padding: 5%;
}

.description {
  text-align: left
}

.hp-name{
  /* position: absolute;
  top: 50%;
  right: 5%; */
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
}

.hp-title{
  /* position: absolute;
  top: 65%;
  right: 5%; */
  font-size: 30px;
}

.mt-10{
  margin-top: 10%;
}

.header-txt{
  font-size: 35px;
}

.w-hunnit{
  width: 100%;
}

.proj-title{
  font-size: 20px;
  color: white;
  text-align: left;
}

/* .hero-image{
  width: 100%;
  margin-right: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */